<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 8</b></center>
<center><b><h1>Vidisha Bhagiya|23010101072|15-01-25</b></center>
<pre>

# User Defined Function

### 01) Write a function to calculate BMI given mass and height. (BMI = mass/h**2)

In [5]:
def BMI(mass,height):
    bmi = (mass/height**2)
    return bmi
BMI(80,1.8)

24.691358024691358

### 02) Write a function that add first n numbers.

In [17]:
def add(n):
    sum = 0
    for i in range(1,n+1):
        sum = sum + i
    return sum
add(9)

45

### 03) Write a function that returns 1 if the given number is Prime or 0 otherwise.

In [25]:
def prime(n):
    count = 0
    for i in range(1,n+1):
        if(n%i==0):
            count += 1
    if(count>2):
        return 0
    else:
        return 1
prime(7)

1

### 04) Write a function that returns the list of Prime numbers between given two numbers.

In [55]:
l1=[]
def primeInRange(a,b):
    for i in  range(a,b+1):
        if(prime(i)):
            l1.append(i)
primeInRange(2,8)
print(l1)

[2, 3, 5, 7]

### 05) Write a function that returns True if the given string is Palindrome or False otherwise.

In [36]:
n = input("Enter a String: ")
def palindrome(n):
    if(n.lower()==n[::-1].lower()):
        print("Palindrome")
    else:
        print("Not a palindrome")
palindrome(n)

Enter a String:  Nayan

Palindrome

### 06) Write a function that returns the sum of all the elements of the list.

In [68]:
l1 = [1,2,3,4,5,6,7,8,9]
def sumoflist():
    Sum = sum(l1) 
    print(Sum)
sumoflist()

45

### 07) Write a function to calculate the sum of the first element of each tuples inside the list.

In [67]:
l1 = [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]
def sumoflistoftuple():
    Sum = 0
    for a,b,c in l1:
        Sum += a
    return Sum
sumoflistoftuple()

22

### 08) Write a recursive function to find nth term of Fibonacci Series.

In [8]:
def fibonacci(a,b,n):
    if n==1:
        return a
    else:
        return fibonacci(b,a+b,n-1)
print(fibonacci(0,1,7))

8

### 09) Write a function to get the name of the student based on the given rollno.
#### Example: Given dict1 = {101:'Ajay', 102:'Rahul', 103:'Jay', 104:'Pooja'} find name of student whose rollno = 103

In [9]:
dict1 = {101:'Ajay', 102:'Rahul', 103:'Jay', 104:'Pooja'}
def nameofstudent(n):
    a=dict1.get(n)
    return a

result=nameofstudent(103)
print(result)

Jay

### 10) Write a function to get the sum of the scores ending with zero.
#### Example : scores = [200, 456, 300, 100, 234, 678] 
#### Ans = 200 + 300 + 100 = 600

In [18]:
l1 = [200, 456, 300, 100, 234, 678]
def sumofzero(l1):
    sum = 0
    for i in l1:
        if i%10==0:
            sum+=i
    return sum
sumofzero(l1)

600

### 11) Write a function to invert a given Dictionary.
#### hint: keys to values & values to keys
#### Before : {'a': 10, 'b':20, 'c':30, 'd':40}
#### After : {10:'a', 20:'b', 30:'c', 40:'d'}

In [19]:
d1 = {'a': 10, 'b':20, 'c':30, 'd':40}
def invertdict(d1):
    reverse = dict(zip(d1.values(),d1.keys()))
    return reverse
invertdict(d1)

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

### 12) Write a function to check whether the given string is Pangram or not.
#### hint: Pangram is a string containing all the characters a-z atlest once.
#### "the quick brown fox jumps over the lazy dog" is a Pangram string.

In [35]:
str1 = "The quick brown fox jumps over the lazy dog"
def pangram(str1):
    str1 = str1.replace(" ","")
    a = list(set(str1.lower()))
    a.sort()
    a = "".join(a)
    if(a == 'abcdefghijklmnopqrstuvwxyz'):
        print("Pangram")
    else:
        print("Not pangram")
pangram(str1)

Pangram

### 13) Write a function that returns the number of uppercase and lowercase letters in the given string. 
#### example : Input : s1 = AbcDEfgh ,Ouptput : no_upper = 3, no_lower = 5

In [36]:
s1="vidishaBhagiya"
def countupperlower(s1):
    lcount=0
    ucount=0
    for i in s1:
        if i.islower():
            lcount+=1
        else:
            ucount+=1
    print(f"Upper count:{ucount}")
    print(f"Lower count:{lcount}")
countupperlower(s1)

Upper count:4
Lower count:10

### 14) Write a lambda function to get smallest number from the given two numbers.

In [37]:
smallest = lambda a,b:min(a,b)
print(smallest(3,6))

3

### 15) For the given list of names of students, extract the names having more that 7 characters. Use filter().

In [3]:
l1=['vidu','aatmik','diya','mamii',]
def morethan7(l1):
    for i in l1:
        if len(i)>7:
            print(i)
morethan7(l1)

### 16) For the given list of names of students, convert the first letter of all the names into uppercase. use map().

In [2]:
l1=['vidu','aatmik','diya','mamii',]
def capital(l1):
    name = list(map(str.capitalize,l1))
    print(name)
capital(l1)

['Vidu', 'Aatmik', 'Diya', 'Mamii']

### 17) Write udfs to call the functions with following types of arguments:
1. Positional Arguments
2. Keyword Arguments
3. Default Arguments
4. Variable Legngth Positional(*args) & variable length Keyword Arguments (**kwargs)
5. Keyword-Only & Positional Only Arguments