<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="10"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 1</b></center>   
    <center><b><h1>Vidisha Bhagiya|23010101017|27/11/2024 </b></center>
<pre>

### 01) WAP to print “Hello World”

In [1]:
print("hello world")

hello world

### 02) WAP to print addition of two numbers with and without using input().

In [2]:
a=2
b=3
sum = a+b
print(sum)

5

### 03) WAP to check the type of the variable.

In [3]:
print(type(a))

<class 'int'>

### 04) WAP to calculate simple interest.

In [5]:
p=1
r=4
t=6
print((p*r*t)/100)

0.24

### 05) WAP to calculate area and perimeter of a circle.

In [7]:
r= int(input("enter a radius: "))
print(3.14*r*r)

enter a radius:  2

12.56

### 06) WAP to calculate area of a triangle.

In [9]:
a= int(input("enter size of a: "))
b=int(input("enter size of b: "))
ans = (a*b)/2
print(ans)

enter size of a:  2
enter size of b:  3

3.0

### 07) WAP to compute quotient and remainder.

In [11]:
a= 5/2
b=5//2
c=5%2
print(a,b,c)

2.5 2 1

### 08) WAP to convert degree into Fahrenheit and vice versa.

In [14]:
celcius = float(input("enter degree: "))
ferenhit = (celcius * 9/5) + 32
print(celcius)

f = float(input("enter farenhit: "))
ferenhit = (celcius - 32) *5/9
print(ferenhit)

enter degree:  32

32.0

enter farenhit:  32

0.0

### 09) WAP to find the distance between two points in 2-D space.

In [15]:
x1 = int(input("enter x1: "))
x2 = int(input("enter x2: "))
y1 = int(input("enter y1: "))
y2 = int(input("enter y2: "))
print((((x2 - x1)**2 +(y2 - y1)**2)**0.5))

enter x1:  3
enter x2:  4
enter y1:  4
enter y2:  3

1.4142135623730951

### 10) WAP to print sum of n natural numbers.

In [18]:
n = int(input("enter the sum no of n: "))
print(n*(n+1)/2)

enter the sum no of n:  10

55.0

### 11) WAP to print sum of square of n natural numbers.

In [21]:
n = int(input("enter the sum no of n: "))
print(n*(n+1)*(2*n+1)/6)

enter the sum no of n:  3

14.0

### 12) WAP to concate the first and last name of the student.

In [22]:
print("Vidisha","Bhagiya")

Vidisha Bhagiya

### 13) WAP to swap two numbers.

In [23]:
a=1
b=2
c=a
a=b
b=c
print(a,b)

2 1

### 14) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [24]:
n= int(input("enter kms: "))
print("meter", n*1000)
print("feet",n*3280.84 )
print("inch",n*39370.1)
print("cm", n*1000000)

enter kms:  1

meter 1000
feet 3280.84
inch 39370.1
cm 1000000

### 15) WAP to get day, month and year from the user and print the date in the given format: 23-11-2024.

In [26]:
day = int(input("enter day: "))
month = int(input("enter month: "))
year = int(input("enter year: "))
print(day,month,year,sep="-")

enter day:  23
enter month:  11
enter year:  1014

23-11-1014